*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.crud{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table td{
    width: 200px;
    height: 30px;
    background-color: rgb(54, 211, 117);
    text-align: center;
    color: #000;
}

table td button{
    padding: 5px 10px;
    border-radius: 10%;
    margin: 0 10px;
}

table td button.edit{
    border: 2px solid green;
    background-color: rgb(206, 209, 38);
    color: white;
}

table td button.edit:hover{
    background-color: rgb(247, 251, 0);
    color: black;
    cursor: pointer;
}

table td button.delete{
    border: 2px solid red;
    background-color: rgb(177, 62, 62);
    color: #fff;
}

table td button.delete:hover{
    background-color: rgb(252, 4, 4);
    color: #000;
    cursor: pointer;
}

